@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
    color: white;
}
div {
    padding: 0.1%;    
}
.header {
    width: 100%;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.9;
    color: white;
    width: 100%;
    font-family: Verdana;
    z-index: 500;
    position: fixed;
    display: flex;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__in {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#contacts {
    text-align: right;
}
#button {
    position: relative;
  display: inline-block;
    transform: skewX(-15deg);
    padding: 2%;
    margin-top: -2%;
    margin-bottom: -2%;
    background-color: black;
    border: none;
    border: 2px solid orangered;
    -webkit-transition: color .5s;
          transition: color .5s;
}
#button:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: orangered: ;
  z-index: -1;
  -webkit-transform:scaleX(0);
      -ms-transform:scaleX(0);
          transform:scaleX(0);
  -webkit-transition: -webkit-transform .5s;
          transition:         transform .5s;
}
#button:hover {
  color: #fff;
}
#button:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
#button.after{
    background: orangered;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}



.button {
    text-align: center;
    
    padding: 0;
    margin: 0;
}

.nav.con {
    margin-right: 2%; 
}



#brand {
    font-size: 20px;
}

.page {
    padding-top: 5%; 
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
}
div.main .center {

position: absolute;

top: 45%;

left: 0;

right: 0;

text-align: center;

text-transform: uppercase;

z-index: 15;

}

body {
    background-color: black;font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid white;
}

.but {
     transform: skewX(15deg);
}

.zapis {
    transform: skewX(15deg);
}

.left{
    opacity: 0;
}
.right{
    opacity: 0;
}
.left.act {
    font-size: 30px;
    position: relative;
    animation: showLeft 1s;
    opacity: 1;
}
.right.act {
    position: relative;
    animation: show 1s;
    animation: showRight 1s;
    opacity: 1;
}
@keyframes showLeft {

from {left:-30%; opacity: 0;}

to {left:0; opacity: 1;}

}
@keyframes showRight {

from {right:-10%; opacity: 0;}

to {right:0; opacity: 1;}

}


img {
    width: 100%;
}




#ob {
    transform: skewX(15deg);
}




